.container {
    z-index: 10000;
    position: fixed !important;
    display: flex;
    top: 1% !important;
}

.success {
    background: rgb(71, 190, 71);
    width: 750px !important;
}

.error {
    background-color: rgb(190, 71, 71);
    width: 750px !important;
}

.warning {
    background-color: rgb(241, 205, 106);
    width: 750px !important;
}

.rightPosition {
    float: right;
}
